.product-brands {
    width: 100%;
    overflow: auto; /* Заменил на auto чтобы появлялся скролл при необходимости */
    white-space: nowrap;
    text-align: center;
    display: flex; /* Добавил, чтобы выровнять элементы по горизонтали */
    justify-content: center; /* Центрируем элементы по горизонтали */
    align-items: center; /* Выравниваем элементы по вертикали */
  }
  
  .brand-image {
      width: 15%; /* Используем процентное значение для адаптивности */
      max-width: 140px; /* Ограничиваем максимальную ширину изображения */
      pointer-events: none;
      margin-right: 100px;
  }
  
  /* Пример медиазапроса для адаптации стилей для мобильных устройств */
  @media (max-width: 768px) {
      .brand-image {
          width: 30%; /* Изменяем размер изображения для мобильных устройств */
          max-width: none; /* Сбрасываем ограничение на максимальную ширину */
          margin-right: 2%; /* Изменяем отступ для мобильных устройств */
      }
  }
  