/* стили для чёрного блока */
.black-block {
    background-color: #000;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: stretch; /* обновленное свойство */
    flex-wrap: wrap;
    margin-top: 150px;
  }
  
  /* стили для каждого раздела */
  .section {
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch; /* обновленное свойство */
  }
  
  /* стили для ссылок в разделе */
  .section a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 5px;
  }
  
  /* стили для подписей в секциях */
  .section p {
    margin-top: auto; /* обновленное свойство */
  }